@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet');
*
{
    font-family: 'Share Tech Mono', monospace;
    margin: 0%;
    padding: 0%;
}

body{
    background: black;
    
    
}
/* header */
header{
    position: fixed;
    top:0; left: 0; right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: white;
    height: 80px;
    border-style: solid;
    border-width: 5px;
}
.logo-imagen{
    height: 80px;
    justify-content: center;
    align-items: center;
}
.logo-titulo{
    height: 60px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}
.header-cerrar{
    height: 40px;
    margin-top: 10px;
    padding: 10px;
}
/* primera pantalla*/
.cuerpo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 180px;
}
.primerapantalla{
    justify-content: space-between;
    margin-top: 325px;
    position: absolute;
    left: 100px;
    
}
.textoinicial{
    padding: 10px;
}

.primerapantalla h3{
    color: green;
}
.texto {
    background-image: linear-gradient(90deg, rgba(11,3,152,0.9809173669467787) 9%, rgba(0,134,6,1) 9%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    
}
.ingtext{
    position: relative;
	background-color: white;
    margin-top: 5px;
    margin-left: 10px;
    width: 500px;
	
}
.ingtext h3{
    color: black;
    margin-left: 5px;
}
section.izq {
    width: 60%;
    height: 65vh;
    background-color: green;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px #f988ff;
    padding-top: 3%;
    text-align: center;
}
.area {
    width: 470px;
    height: 300px;
    bottom: 10px;
	left: 10px;
	right: 10px;
	top: 30px;
    margin-left: 5px;
    resize: none;
	border: none;
	background-color: black;
	padding: 10px;
	font-size: 14px;
	line-height: 1.5;
	color: green;
}
.encriptar {
    width: 30%;
    height: 20%;
    border-width: 3px;
    margin-left: 10px;
    margin-right: 180px;
    border-radius: 20px;
    border-color: green;
    background:black;
    color: green;
    padding: 5px;
}
.encriptar:hover {
    background:green;
    color: black;
}
.desencriptar {
    width: 30%;
    height: 10%;
    margin-top: 10px;
    border-width: 3px;
    border-radius: 20px;
    border-color: green;
    background:black;
    color: green;
    padding: 5px;
}
.desencriptar:hover {
    background:green;
    color:black;
}
/* segunda pantalla */
.segundapantalla{
    justify-content: space-between;
    margin-top: 325px;
    position: absolute;
    right: 150px;
}
.consola-animacion{
    width: 510px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    margin-top: 50px;
    margin-bottom: 20px;

}
canvas{
    width: 500px;
    height: 200px;
}
.consola-animacion h3{
    color: black;
    background-color: white;
    text-align: center;
}
.saltext{
    position: relative;
	background-color: white;
    margin-top: 5px;
    width: 520px;
}

section.der {
    width: 30%;
    height: 65vh;
    background-color: rgba(128, 128, 128, 0.35);
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px #f988ff;
    text-align: center;
    padding-top: 3%;
    line-height: 200%;
    overflow: hidden;
}
.mensaje {
    width: 490px;
    height: 200px;
    bottom: 10px;
	left: 10px;
	right: 10px;
	top: 30px;
    margin-top: 5px;
    margin-left: 5px;
    resize: none;
	border: none;
	background-color: black;
	padding: 10px;
	font-size: 14px;
	line-height: 1.5;
	color: green;
}
.copiar {
    width: 35%;
    height: 10%;
    margin-right: 140px;
    border-radius: 20px;
    background: black;
    color: white;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.copiar:hover {
    border-color: black;
    background: white;
    color: black;
}
.escuchar {
    width: 35%;
    height: 10%;
    border-radius: 20px;
    background: black;
    color: white;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.escuchar:hover {
    border-color: black;
    background: white;
    color: black;
}
/* pie de pagina*/
footer {
    bottom: 0;left: 0; right: 0;
    display: flex;
    z-index: 1000;
    background-color: white;
    height: 80px;
    border-style: solid;
    border-width: 5px;
    position: fixed;
    justify-content: space-between;

}

.LogoPresentacion{
    height: 80px;
    justify-content: flex-start;
    align-items: center;
}

.redes{
    justify-content: flex-end;
}
.linkedin{
    height: 80px;
    align-items: center;
}
.github{
    height: 60px;
    align-items: center;
    padding: 10px;
}
/* tamaño tablet o pc pequeña*/
@media (max-width:1285px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1250px;
    }
    .cuerpo {
        text-align: center;
        display: block;
        margin-top: 0;
    }
    .primerapantalla{
        align-items: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0;
    }
    .primerapantalla .textoinicial,
    .primerapantalla .ingtext, 
    .primerapantalla .botones {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .segundapantalla{
        align-items: center;
        margin-top: 10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    } 
    .segundapantalla .consola-animacion,
    .segundapantalla .saltext {
        display: block;
        margin: 5px auto;
        text-align: center;
    }
}
/* tamaño celular */
@media (max-width: 550px){
    body{
        height: auto;
    }

    .logo-imagen{
        height: 80px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .logo-titulo{
        display: none;
    }
    .header-cerrar{
        display: none;
    }


    .LogoPresentacion{
        height: 80px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .linkedin{
        display: none;
    }
    .github{
        display: none;
    }

    .cuerpo{
        margin: 100px;
        width: 500px;
    }


    
    .primerapantalla{
        align-items: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0;
    }
    .primerapantalla,
    .segundapantalla {
        max-width: 90%;
        margin: 0 auto;
    }
}
  
  



